# Introduction to Python

If you've come to this notebook through the Intro to Python GitHub, you'll have already learned a little about what Python and programming are. This notebook will build upon that foundation by explaining the following topics:

- Basic Syntax
- Variables
- Expressions and Operators 
- Data types
- Basic Functions

## 1. The Basics

Because Python is a general purpose language, you can use it for many different applications. It's especially popular for Data Science and Digital Humanities. This sections will cover the basics of variables, basic built-in functions, and expressions.

### 1.1. Your First Lines of Code

In [1]:
print("Hello World")

Hello World

In [ ]:
#type your message below

Congratulations, you've written your first Python **statement**! Broadly speaking, any line of code you write will be a statement. In this line of code, you are calling the build in **function**, print(), entering in an **argument**, "Hello World" and then running the code.

#### Importing packages

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

You'll see above some of the motivations about Python. Ease of use and readability are key components. That's one of the reasons you'll see a lot of functions that use English words such as print().

#### Assigning your first variables

In [3]:
# Statements can also create variables that can then be passed as arguments

x = "Hello World"
print(x)

Hello World

In [6]:
# Variables are case sensitive. This line of code will fail

print(X)

HELLO WORLD

#### Do it yourself!

In the codespace below, write a message and assign it to a variable, then use the print() function to return the variable. After that import the package called pandas.

#### Key Terms 1.1

- **Statement** - A line of code
- **Function** - A snippet of code that gives instructions for some sort of action that can be re-written. These can be build in, such as print(), or created by the programmer.
- **Argument** - Information that is input into a function
- **Variable** - A value in code that can be referenced by a name or label

### 1.2 Expressions and Operators

Many lines of code you will write will contain **expressions**. These are bits of code that use **operators**  to compute or evaluate results. Run the code snippet below to see an example of an expression.

In [ ]:
# Your first expression

1+1

There are many different types of operators that you should know about. You have likely encountered many of them in basic math. Take a look at the examples below. It's also important to note that mathematical expressions follow the order of operations (PEMDAS).

In [8]:
# Addition and Subtraction
print(1+1)
print(2-1)
print(2+1-1)

#Division and Multiplication
print(2*5)
print(10/2)

2
1
2
10
5.0

| Operator      | Operation      | Example       | Output       |
| :-----------: | :------------: |:------------: |:------------:|
| +           | Addition     | 1 + 1         |  2         |
| -           | Subtraction  | 2 - 1         |  1         |
| *           | Multiplication| 2 * 5      |  10         |
| /           | Division     | 10 / 5        |  5.0       |
| %           | Modulus/Remainder     | 5 % 2        |  1    |
| //          | Floor Division     | 5 // 2        |  2    |
| **           | Exponent/Power     | 3 ** 2   |  9    |

#### Do It Yourself!

In the codespace below, write a few expressions. If you plan to do more than one, make sure to use the print function. If you don't you'll only get the last result!

#### Key Terms 1.2

- **Expression** - An snippet of code that returns a value
- **Operator** - A symbol that performs an operation such as addition or subtraction in an expression

## 2. Variables and Data Types

Thus far, we've spoken briefly about variables and even assigned a value to a variable; however, we've only just scratched the surface on what we can do with variables. This section is going to go over the most common types of data stored in variables as well as best practices when naming variables.

### 2.1 Introduction to Variables

In [11]:
my_favorite_book = "One Hundred Years of Solitude"
print(my_favorite_book)

One Hundred Years of Solitude

In [15]:
my_favorite_book = "Their Eyes Were Watching God"
print(my_favorite_book)
my_favorite_book = my_favorite_book + " or One Hundred Years of Solitude"
print(my_favorite_book)

legal_driving_age = 16
print(legal_driving_age)
legal_driving_age = legal_driving_age + 1
print(legal_driving_age)

Their Eyes Were Watching God
Their Eyes Were Watching God or One Hundred Years of Solitude
16
17

In [16]:
your_favorite_book = input("What's your favorite book? ")
print(your_favorite_book)
your_favorite_genre = input("What's your favorite genre? ")
print(your_favorite_genre)

What's your favorite book?  Gone Girl

Gone Girl

What's your favorite genre?  Mystery

Mystery

#### Variable Naming

When it comes to assigning variables, there are a few rules that govern what you can name a variable. In Python, these are:
- Variables must start with a letter or an underscore though numbers are allowed within the variable (ex. my_var_1)
- Variables can ONLY contain alpha-numeric characters or underscores
- Variables are case-sensitive
- Variables cannot be existing Python terms such as "print"

In [17]:
# Most people choose to use camel case or snake case when using multi-word variables
camelCaseVariable = 3
snake_case_variable = 9
# Below are some additional examples of variable names that follow the rules

x = 5
_book = x
myBook = "The Picture of Dorian Gray"

In [18]:
# Here are some variables that will break the rules
1libraryCard = "fun"
reg-style = "brutal"

SyntaxError: invalid decimal literal (4117110260.py, line 2)

In [ ]:
# Often you will know whether a variable is valid based on its color.

True = 1
print = 2

# Neither of the above variable names are allowed because they are Python terms

#### Do It Yourself!

In the code-space below, assign a few variables. See what names work and don't work. You can assign these variables number values or word values, so long as the words are in quotations (more on this in the next section). Make sure one of those assigned variables is assigned through the input() function. See what happens when you override a variable through the input function.

### 2.2 Data Types

Python has multiple different built-in data types which affect the way they function in expressions. This workbook will only go through the basic data-types, but future workbooks will explore other data types in more depth. For this tutorial, we're going to be looking at: strings, floats, integers, booleans, and lists.

| Type      | Name/Abbreviation      | Examples    |  
| :-----------: | :------------: |:------------: |
| String           | str     | "dog"       | 
| Integer          | int  | 12         |
| Float    | float| 1.25      |
| Boolean           | bool    | True or False       |
| List           | list   | [1, 2, 3]        |

In [19]:
book_count = 5
location = "Library"
avg_pages = 150.5
book_list = ["The Giver", "The Perks of Being a Wallflower", "Speak", "Animal Farm", "Beloved"]

#### Checking Data Types

We can check the data type of a variable by using the type() function.

In [20]:
print(type(book_count))
print(type(location))
print(type(avg_pages))
print(type(book_list))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>

#### Changing Data Types

You can also use functions to change the type of variable something is in certain cases.

In [28]:
# Turning an integer into a string

x = 2.6
x = str(x)
print(x)
print(type(x))

# Turning that string into a float

# x = float(x)
# print(x)
# print(type(x))

# Turning that float into an integer

# x = int(x)
# print(x)
# print(type(x))

# Turning that integer into a float

# x = float(x)
# print(x)
# print(type(x))

2.6
<class 'str'>
2.6
<class 'float'>
2
<class 'int'>
2.0
<class 'float'>

#### Booleans

To see our final data type, we're going to write an expression using an operator we haven't seen yet, a **comparison operator**. Boolean values are either True or False. Below is a list of comparison operators.

| Operator      | Meaning      | Example       | Output       |
| :-----------: | :------------: |:------------: |:------------:|
| ==           | Equal    | 1 == 1         |  True         |
| !=           | Not Equal  | 1 != 1         |  False         |
| >           | Greater Than| 2 > 1      |  True         |
| <           | Less Than     | 10 < 5        |  False       |
| >=           | Greater Than or Equal To     | 5 >= 5        |  True    |
| <=          | Less Than or Equal To     | 5 <= 2        |  False    |

In [29]:
## The == operator denotes a comparison rather than assigning a variable
book_count == 7

False

#### Do It Yourself!

In the codespace below, assign a numerical and string variables. Then use the built-in functions to change your variable types. Try comparing a string version of an integer with an integer. What happens?

In [60]:
# Assign your variables

# Change your variables

# Use a comparison operator between a string version of an integer and an integer

#### Key Terms 2.2

- **Comparison Operator** - A symbol that performs an operation that compares two values.

### 2.3 Operations With Variables

While the differences between variables may seem insignificant, they impact how we write expressions. For example, a string cannot be added to an integer, and when integers are added or multiplied by floats, they become floats themselves.

In [30]:
# You can't add strings and integers together
book_count + location

TypeError: unsupported operand type(s) for +: 'int' and 'str'

You can also add strings together, this creates a new string with the second string added to the end of the first. This is called **concatenation**.

In [31]:
# When you add two strings together, it adds to the string

print("The " + location + " is " + "fun!")

The Library is fun!

In [32]:
print("there are" + str(book_count) + "books in the Library")

there are5books in the Library

In [33]:
print("there are " + str(book_count) + " books in the Library")

there are 5 books in the Library

In [37]:
print(f'There are {book_count} books in the library')

There are 5 books in the library

In [39]:
# Using mathematical operations between floats and integers turns the outputs into floats.
x = 4
print(type(x))
print(x+4.0)
print(type(x))

# print(x/4.0)
# print(x*3.0)

y =10.0
print(type(y))
print(y/2)
print(y + x)
print(type(y + x))

<class 'int'>
8.0
<class 'int'>
1.0
12.0
<class 'float'>
5.0
14.0
<class 'float'>

In [48]:
age = int(input("How old are you? "))
if age > 16:
    print("You are old enough to drive")
elif age == 15:
    print("You are not old enough to drive, you need to wait a year.")
else:
    print(f"You are not old enough to drive, you need to wait {16-age} years")

How old are you?  15

You are not old enough to drive, you need to wait a year.

In [49]:
# You also cannot add other data types to lists.

book_list + '1984'

TypeError: can only concatenate list (not "str") to list

In [51]:
# You can add lists together
second_list = ['1984', 'The Hunger Games']

book_list + second_list

#### The While Loop

In [53]:
book_list = []
i = 0
while i < 5:
    book = input("List your top 5 books, one at a time:")
    book_list.append(book)
    i += 1

List your top 5 books, one at a time: Gone Girl
List your top 5 books, one at a time: Speak
List your top 5 books, one at a time: 100 Years of Solitude
List your top 5 books, one at a time: Song of Solomon
List your top 5 books, one at a time: Their Eyes Were Watching God

In [54]:
book_list

['Gone Girl',
 'Speak',
 '100 Years of Solitude',
 'Song of Solomon',
 'Their Eyes Were Watching God']

#### Do It Yourself!

In the codespace below, assign a numerical and string variables. Then use the addition, subtraction, and multiplication operators with these variables and see what happens.

In [ ]:
# Create two numerical variables and two string variables.


# Use mathematical operations on your numerical variables.


# See what happens when you use mathematical operations on your string variables. Which operators work?


#Turn your integers into strings and see what happens when you add them together

#### Key Terms 2.3

- **Concatenation** - The action of two non-integer values such as strings or lists using the + operator
- **While Loop** - A type of statement that executes a block of code for as long as a designated condition is met.

## 3. Working with Variables

We've learned about some of the main data types and some operations that we can do with these data types, but there is so much more that many data types have to offer when it comes to operations. In this tutorial, we'll be focusing mostly on strings, but will talk a little about lists as well.

### 3.1 Evaluating Strings and Lists

To start off our exploration of strings, we're going to assign a few strings to variables as well as one list of strings. We will use them for the next few exercises.

In [63]:
# Below you'll see an example of a multi-line string. You can create one by surrounding your text with '''

hundred_years = '''Many years later, as he faced the firing squad, 
Colonel Aureliano Buendía was to remember that distant afternoon 
when his father took him to discover ice. 
'''
# Lists are a data type but they also hold different data types. You can hold multiple data types in one list.

banned_books = ["The Giver", "The Perks of Being a Wallflower", "Speak", "Animal Farm", "Beloved"]


library = "Regenstein"

#### The len() function

In [64]:
# The len() function prints the number of characters are in a string
print(len(hundred_years))
print(len(library))

# The len() function also works on lists, but instead of characters, it counts the number of items in the list
print(len(banned_books))

158
10
5

In [65]:
book_list = []
book_count = len(book_list)
while book_count < 5:
    book = input("List your top 5 books:")
    book_list.append(book)
    book_count = len(book_list)

List your top 5 books: f
List your top 5 books: f
List your top 5 books: f
List your top 5 books: f
List your top 5 books: f

#### Indexing

Through a process called **indexing**, you can grab specific parts of a string or a list.

In [57]:
# Through using brackets, you can grab a character at any position you choose.
# Just remember that Python uses zero as the first number in any sequence.

print(library[1])
print(library[0])


# This also works with lists
print(banned_books[0])
print(banned_books[1])

e
R
The Giver
The Perks of Being a Wallflower

#### Slicing

Through a method called **string slicing**, you can retrieve more than one character at a time. In order to grab a *slice* of your string, you'll need to specify two positions in your brackets separated by a colon.

In [58]:
# When using string slicing, remember that the character at the end index will not be included. 

print(library[0:1])
print(library[0:2])
print(library[0:5])

# If you want to take all characters up until an end index that you specify, you can omit the start index
print(library[:7])

# You can also do this with all characters after an index.
print(library[5:])

# These methods can be applied to lists as well
print(banned_books[:3])

R
Re
Regen
Regenst
stein
['The Giver', 'The Perks of Being a Wallflower', 'Speak']

The last part of indexing and string slicing that is worth mentioning is that you can index characters counting from the end of the variable by using negative indexing. For example the 'd' in 'word' would have an index of -1.

In [66]:
x = 'word'
x[-1]

'd'

In [67]:
print(library[-2:])
print(library[-5:])
print(library[-5:-2])

in
stein
ste

#### The For Loop

The **for loop** allows you to iterate through your data or perform an action multiple times. As is the case with any list or **array**, you can also loop through your strings.

In [68]:
# Below is a for loop. It is taking each character in the variable, library, and printing it.
# Notice that we didn't define the variable, character before including it in a for loop
for character in library:
    print(character)

for book in banned_books:
    print(book)

R
e
g
e
n
s
t
e
i
n
The Giver
The Perks of Being a Wallflower
Speak
Animal Farm
Beloved

#### What's in a String?

To check whether a word or character is in a string, you can use "in" or "not in".

In [69]:
print('ice' in hundred_years)
print('ice' not in hundred_years)

True
False

Below is another way of accomplishing what we did in the code block above. This is called an **if statement**, which we'll cover more in future tutorials.

In [70]:
if "ice" in hundred_years:
    print('brrr')

brrr

In [71]:
if "candle" not in hundred_years:
    print("It's too dark in here")

It's too dark in here

In [72]:
# You can also use "else" in order to trigger a different action if your conditions are not met
if "candle" in hundred_years:
    print("I can see")
else:
    print("It's too dark in here")

It's too dark in here

#### Do It Yourself!

In the codespace below, use in and not in to evaluate whether a letter or word is in a string of your choice. Then write a program that returns one message if a word is found in a string and a different message if that word is not found. Finally, use a for loop to create a program that loops through all the letters of a string and prints each letter. For an extra challenge, change your for loop so that it prints every letter found in a string unless that letter is "a".

In [73]:
# Using either in or not in evaluate whether a word or letter is in a string of your choosing

# Write a program that returns one message if a word is found in a string and a different message if that word is not found.

# Write a program that loops through all letters of a string and prints that letter.
# Bonus points for writing a program that loops through a word and prints the letter ONLY if that letter is not "a"

#### Key Terms 3.1

- **Indexing** - A method of accessing a specific character in a string through using its index position
- **String Slicing** - A method of accessing a specific characters in a string through using a starting index position and an ending index position
- **For Loop** - A type of statement that executes a block of code for a designated number of times (often the number of values in an array).
- **If-Else** - A type of statement that executes a block of code if a condition is met and executes a different block of code if that condition is not met.

### 3.2 String Methods

We've now learned how we can use expressions to evaluate strings, but how do we change them? We've already done some of this through concatenation, but there are other ways of changing strings called **string methods**. These are functions that are added to the end of your variables.

In [74]:
# Change your string to upper or lower case

print(library.upper())
print(library.lower())

# Remove trailing whitespace

library = ' ' + library + ' '
print(library)

library = library.strip()
print(library)

# Replacing characters
print(library.replace('R', 'r'))
print(library.replace('enstein', ''))

REGENSTEIN
regenstein
 Regenstein
Regenstein
regenstein
Reg

#### Reading and Writing Files

In [75]:
# create a file
f = open("hundred_years.txt", "x")

FileExistsError: [Errno 17] File exists: 'hundred_years.txt'

In [76]:
with open("hundred_years.txt", "a") as f:
    f.write(hundred_years)

#open and read the file after the appending:
with open("hundred_years.txt") as f:
  print(f.read())

Many years later, as he faced the firing squad,
Colonel Aureliano Buendía was to remember that distant afternoon
when his father took him to discover ice.
Many years later, as he faced the firing squad,
Colonel Aureliano Buendía was to remember that distant afternoon
when his father took him to discover ice.

In [77]:
# Read a file
f = open("hundred_years.txt")
hundred_years_txt = f.read()
type(hundred_years_txt)

str

#### String split()

The final string method we're going to cover today is going to lead us in to a discussion of lists for next time. This is the string split() method. The split() method turns a string into a list. It takes an argument for a **delimiter** that will tell the function where to start the next item. If you don't specify what the delimiter is, the function will default to using spaces.

In [78]:
print(hundred_years_txt)
print(hundred_years_txt.split())
print(hundred_years_txt.split(','))

Many years later, as he faced the firing squad,
Colonel Aureliano Buendía was to remember that distant afternoon
when his father took him to discover ice.
Many years later, as he faced the firing squad,
Colonel Aureliano Buendía was to remember that distant afternoon
when his father took him to discover ice.

['Many', 'years', 'later,', 'as', 'he', 'faced', 'the', 'firing', 'squad,', 'Colonel', 'Aureliano', 'Buendía', 'was', 'to', 'remember', 'that', 'distant', 'afternoon', 'when', 'his', 'father', 'took', 'him', 'to', 'discover', 'ice.', 'Many', 'years', 'later,', 'as', 'he', 'faced', 'the', 'firing', 'squad,', 'Colonel', 'Aureliano', 'Buendía', 'was', 'to', 'remember', 'that', 'distant', 'afternoon', 'when', 'his', 'father', 'took', 'him', 'to', 'discover', 'ice.']
['Many years later', ' as he faced the firing squad', ' \nColonel Aureliano Buendía was to remember that distant afternoon \nwhen his father took him to discover ice. \nMany years later', ' as he faced the firing squad', ' \nColonel Aureliano Buendía was to remember that distant afternoon \nwhen his father took him to discover ice. \n']

#### Do It Yourself! (and teaser)

In the codespace below, create a multiline string of your favorite quote. Once you've done that, split your string into a list. Make sure to assign that list to a variable. As an added challenge, you'll see there's a block of code commented below. Uncomment that code, adapting it to your variable name run it. What happens?

In [80]:
# hundred_dict = {}
# for word in hundred_lists:
#    hundred_dict[word] = hundred_lists.count(word)
   
# hundred_dict